@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    background-image: url("imagens/Fundo-site-M.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
}

header>h1 {
    font-size: 35px;
    color: white;
    padding-top: 50px;
}

header>nav {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 1px;
}
a.link1Unidade2 {
    font-size: 22px;
    color: white;

    padding-right: 20px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    border-radius: 10px;
}

a:hover.link1Unidade2 {
    display: inline;

    color: black;
    background-color: rgb(163, 255, 191);

    font-weight: bolder;
}

.EncapsulamentoUnidade2 {
    padding-top: 15px;
     padding-bottom: 30px;
}

a.Unidade2LinkEncapsulamento {


    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 15px;
  
    color: black;
    padding-right: 50px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(163, 255, 191);


}
a.Unidade2LinkEncapsulamento:hover {

    display: inline;
    border-radius: 10px;
    color: black;
    background-color: rgb(163, 255, 191);
    font-weight: bolder;

}
.HerancaUnidade2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.Unidade2LinkHeranca {


    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: black;
    padding-right: 80px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(163, 255, 191);


}
a.Unidade2LinkHeranca:hover {

    display: inline;
    border-radius: 10px;
    color: black;
    background-color: rgb(163, 255, 191);
    font-weight: bolder;

}


.PolimorfismoUnidade2 {
    padding-top: 30px;
}

a.Unidade2LinkPolimorfirsmo {


    padding-top: 15px;
    padding-left: 65px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: black;
    padding-right: 65px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(163, 255, 191);


}
a.Unidade2LinkPolimorfirsmo:hover {

    display: inline;
    border-radius: 10px;
    color: black;
    background-color: rgb(163, 255, 191);
    font-weight: bolder;

}
.FooterUnidade2Escolha{
    color: white;
    text-align: center;
    padding-top: 75px;;
   }

   a.linkFooterUnidade2{
    color: white;
    padding-right: 20px;
    text-decoration: none;
}
a:hover.linkFooterUnidade2 {
    display: inline;

    color: black;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-justify: auto;
    position: static;
   
    font-weight: bolder;
}